@inherits AntComponent
@namespace Append.AntDesign.Components

<li @attributes="@Attributes" class="@itemCssClasses" @key="this">
    @if (Label != null)
    {
        <div class="ant-timeline-item-label">@Label</div>
    }
    <div class="ant-timeline-item-tail"></div>
    <div class="@dotCssClasses">@Dot</div>
    <div class="ant-timeline-item-content">@ChildContent</div>
</li>