@namespace Append.AntDesign.Components
@inherits AntComponent
@if (string.IsNullOrEmpty(Href))
{
    <button type="@HtmlType" class="@classes" @onclick="@OnClick" disabled="@Disabled" @attributes="@Attributes">
        @if (Loading)
        {
            <span class="ant-btn-loading-icon">
                <Icon Type="IconType.Outlined.Loading" Spin />
            </span>
        }
        else
        {
            if (ChildContent != null)
            {
                @ChildContent
            }
        }
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <span>@Label</span>
        }
    </button>
}
else
{
    <a href="@Href" class="@classes" disabled="@Disabled" target="@Target" @attributes="@Attributes">
        @if (Loading)
        {
            <span class="ant-btn-loading-icon">
                <Icon Type="IconType.Outlined.Loading"/>
            </span>
        }
        else
        {
            if (ChildContent != null)
            {
                @ChildContent
            }
        }
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <span>@Label</span>
        }
    </a>
}



