@inherits TestComponentBase
<SnapshotTest Description="Basic Grid">
    <TestInput>
        <Row>
            <Column Span="24">col</Column>
        </Row>
        <Row>
            <Column Span="12">col-12</Column>
            <Column Span="12">col-12</Column>
        </Row>
        <Row>
            <Column Span="8">col-8</Column>
            <Column Span="8">col-8</Column>
            <Column Span="8">col-8</Column>
        </Row>
        <Row>
            <Column Span="6">col-6</Column>
            <Column Span="6">col-6</Column>
            <Column Span="6">col-6</Column>
            <Column Span="6">col-6</Column>
        </Row>
    </TestInput>
    <ExpectedOutput>
        <div class="ant-row">
            <div class="ant-col ant-col-24">col</div>
        </div>
        <div class="ant-row">
            <div class="ant-col ant-col-12">col-12</div>
            <div class="ant-col ant-col-12">col-12</div>
        </div>
        <div class="ant-row">
            <div class="ant-col ant-col-8">col-8</div>
            <div class="ant-col ant-col-8">col-8</div>
            <div class="ant-col ant-col-8">col-8</div>
        </div>
        <div class="ant-row">
            <div class="ant-col ant-col-6">col-6</div>
            <div class="ant-col ant-col-6">col-6</div>
            <div class="ant-col ant-col-6">col-6</div>
            <div class="ant-col ant-col-6">col-6</div>
        </div>
    </ExpectedOutput>
</SnapshotTest>

<SnapshotTest Description="Column Offset">
    <TestInput>
        <Row>
            <Column Span="8">col-8</Column>
            <Column Span="8" Offset="8">col-8</Column>
        </Row>
        <Row>
            <Column Span="6" Offset="6">col-6 col-offset-6</Column>
            <Column Span="6" Offset="6">col-6 col-offset-6</Column>
        </Row>
        <Row>
            <Column Span="12" Offset="6">col-12 col-offset-6</Column>
        </Row>
    </TestInput>
    <ExpectedOutput>
        <div class="ant-row">
            <div class="ant-col ant-col-8">col-8</div>
            <div class="ant-col ant-col-8 ant-col-offset-8">col-8</div>
        </div>
        <div class="ant-row">
            <div class="ant-col ant-col-6 ant-col-offset-6">col-6 col-offset-6</div>
            <div class="ant-col ant-col-6 ant-col-offset-6">col-6 col-offset-6</div>
        </div>
        <div class="ant-row">
            <div class="ant-col ant-col-12 ant-col-offset-6">col-12 col-offset-6</div>
        </div>
    </ExpectedOutput>
</SnapshotTest>

<SnapshotTest Description="Grid Sort">
    <TestInput>
        <Row>
            <Column Span="18" Push="6">
                col-18 col-push-6
            </Column>
            <Column Span="6" Pull="18">
                col-6 col-pull-18
            </Column>
        </Row>
    </TestInput>
    <ExpectedOutput>
        <div class="ant-row">
            <div class="ant-col ant-col-18 ant-col-push-6">col-18 col-push-6</div>
            <div class="ant-col ant-col-6 ant-col-pull-18">col-6 col-pull-18</div>
        </div>
    </ExpectedOutput>
</SnapshotTest>

<SnapshotTest Description="Typesetting">
    <TestInput>
        <Row Justify="Justification.Start">
            <Column Span="4">col-4</Column>
            <Column Span="4">col-4</Column>
            <Column Span="4">col-4</Column>
            <Column Span="4">col-4</Column>
        </Row>

        <Row Justify="Justification.Center">
            <Column Span="4">col-4</Column>
            <Column Span="4">col-4</Column>
            <Column Span="4">col-4</Column>
            <Column Span="4">col-4</Column>
        </Row>

        <Row Justify="Justification.End">
            <Column Span="4">col-4</Column>
            <Column Span="4">col-4</Column>
            <Column Span="4">col-4</Column>
            <Column Span="4">col-4</Column>
        </Row>

        <Row Justify="Justification.Space_Between">
            <Column Span="4">col-4</Column>
            <Column Span="4">col-4</Column>
            <Column Span="4">col-4</Column>
            <Column Span="4">col-4</Column>
        </Row>

        <Row Justify="Justification.Space_Around">
            <Column Span="4">col-4</Column>
            <Column Span="4">col-4</Column>
            <Column Span="4">col-4</Column>
            <Column Span="4">col-4</Column>
        </Row>
    </TestInput>
    <ExpectedOutput>
        <div class="ant-row ant-row-start">
            <div class="ant-col ant-col-4">col-4</div>
            <div class="ant-col ant-col-4">col-4</div>
            <div class="ant-col ant-col-4">col-4</div>
            <div class="ant-col ant-col-4">col-4</div>
        </div>
        <div class="ant-row ant-row-center">
            <div class="ant-col ant-col-4">col-4</div>
            <div class="ant-col ant-col-4">col-4</div>
            <div class="ant-col ant-col-4">col-4</div>
            <div class="ant-col ant-col-4">col-4</div>
        </div>
        <div class="ant-row ant-row-end">
            <div class="ant-col ant-col-4">col-4</div>
            <div class="ant-col ant-col-4">col-4</div>
            <div class="ant-col ant-col-4">col-4</div>
            <div class="ant-col ant-col-4">col-4</div>
        </div>
        <div class="ant-row ant-row-space-between">
            <div class="ant-col ant-col-4">col-4</div>
            <div class="ant-col ant-col-4">col-4</div>
            <div class="ant-col ant-col-4">col-4</div>
            <div class="ant-col ant-col-4">col-4</div>
        </div>
        <div class="ant-row ant-row-space-around">
            <div class="ant-col ant-col-4">col-4</div>
            <div class="ant-col ant-col-4">col-4</div>
            <div class="ant-col ant-col-4">col-4</div>
            <div class="ant-col ant-col-4">col-4</div>
        </div>
    </ExpectedOutput>
</SnapshotTest>

<SnapshotTest Description="Alignment">
    <TestInput>
        <Row Justify="Justification.Center" Align="Alignment.Top">
            <Column Span="4">
                <p style="height:100px;">col-4</p>
            </Column>
            <Column Span="4">
                <p style="height:50px;">col-4</p>
            </Column>
            <Column Span="4">
                <p style="height:120px;">col-4</p>
            </Column>
            <Column Span="4">
                <p style="height:80px;">col-4</p>
            </Column>
        </Row>
        <Row Justify="Justification.Space_Around" Align="Alignment.Middle">
            <Column Span="4">
                <p style="height:100px;">col-4</p>
            </Column>
            <Column Span="4">
                <p style="height:50px;">col-4</p>
            </Column>
            <Column Span="4">
                <p style="height:120px;">col-4</p>
            </Column>
            <Column Span="4">
                <p style="height:80px;">col-4</p>
            </Column>
        </Row>

        <Row Justify="Justification.Space_Between" Align="Alignment.Bottom">
            <Column Span="4">
                <p style="height:100px;">col-4</p>
            </Column>
            <Column Span="4">
                <p style="height:50px;">col-4</p>
            </Column>
            <Column Span="4">
                <p style="height:120px;">col-4</p>
            </Column>
            <Column Span="4">
                <p style="height:80px;">col-4</p>
            </Column>
        </Row>
    </TestInput>
    <ExpectedOutput>
        <div class="ant-row ant-row-center ant-row-top">
            <div class="ant-col ant-col-4">
                <p style="height:100px">col-4</p>
            </div>
            <div class="ant-col ant-col-4">
                <p style="height:50px">col-4</p>
            </div>
            <div class="ant-col ant-col-4">
                <p style="height:120px">col-4</p>
            </div>
            <div class="ant-col ant-col-4">
                <p style="height:80px">col-4</p>
            </div>
        </div>
        <div class="ant-row ant-row-space-around ant-row-middle">
            <div class="ant-col ant-col-4">
                <p style="height:100px">col-4</p>
            </div>
            <div class="ant-col ant-col-4">
                <p style="height:50px">col-4</p>
            </div>
            <div class="ant-col ant-col-4">
                <p style="height:120px">col-4</p>
            </div>
            <div class="ant-col ant-col-4">
                <p style="height:80px">col-4</p>
            </div>
        </div>
        <div class="ant-row ant-row-space-between ant-row-bottom">
            <div class="ant-col ant-col-4">
                <p style="height:100px">col-4</p>
            </div>
            <div class="ant-col ant-col-4">
                <p style="height:50px">col-4</p>
            </div>
            <div class="ant-col ant-col-4">
                <p style="height:120px">col-4</p>
            </div>
            <div class="ant-col ant-col-4">
                <p style="height:80px">col-4</p>
            </div>
        </div>
    </ExpectedOutput>
</SnapshotTest>

<SnapshotTest Description="Order">
    <TestInput>
        <Row>
            <Column Span="6" Order="4">
                1 col-order-4
            </Column>
            <Column Span="6" Order="3">
                2 col-order-3
            </Column>
            <Column Span="6" Order="2">
                3 col-order-2
            </Column>
            <Column Span="6" Order="1">
                4 col-order-1
            </Column>
        </Row>
    </TestInput>
    <ExpectedOutput>
        <div class="ant-row">
            <div class="ant-col ant-col-6 ant-col-order-4">1 col-order-4</div>
            <div class="ant-col ant-col-6 ant-col-order-3">2 col-order-3</div>
            <div class="ant-col ant-col-6 ant-col-order-2">3 col-order-2</div>
            <div class="ant-col ant-col-6 ant-col-order-1">4 col-order-1</div>
        </div>
    </ExpectedOutput>
</SnapshotTest>


<SnapshotTest Description="Flex Stretch">
    <TestInput>
        <Row>
            <Column Xs="@(new ResponsiveOptions { Span=5,Offset=1 })" Lg="@(new ResponsiveOptions { Span=6,Offset=2 })">
                col
            </Column>
            <Column Xs="@(new ResponsiveOptions { Span=11,Offset=1 })" Lg="@(new ResponsiveOptions { Span=6,Offset=2 })">
                col
            </Column>
            <Column Xs="@(new ResponsiveOptions { Span=5,Offset=1 })" Lg="@(new ResponsiveOptions { Span=6,Offset=2 })">
                col
            </Column>
        </Row>
    </TestInput>
    <ExpectedOutput>
        <div class="ant-row">
            <div class="ant-col ant-col-xs-5 ant-col-xs-offset-1 ant-col-lg-6 ant-col-lg-offset-2">col</div>
            <div class="ant-col ant-col-xs-11 ant-col-xs-offset-1 ant-col-lg-6 ant-col-lg-offset-2">col</div>
            <div class="ant-col ant-col-xs-5 ant-col-xs-offset-1 ant-col-lg-6 ant-col-lg-offset-2">col</div>
        </div>
    </ExpectedOutput>
</SnapshotTest>