@namespace Append.AntDesign.Components
@inherits AntComponent

<div @attributes="Attributes" class="@combinedClassBuilders" @onclick="Options.OnClick">
    <div class="ant-notification-notice-content">
        <div class="@ContentTypeClasses">
            @if (Options.Type == NotificationType.None || Options.Icon != null)
            {
                <span class="ant-notification-notice-icon">
                    @Options.Icon
                </span>
            }
            else
            {
                <Icon class="@GetIconTypeWithExtraCssClasses().cssClass" Type="@GetIconTypeWithExtraCssClasses().iconType" />
            }

            <div class="ant-notification-notice-message">@Options.Message</div>
            <div class="ant-notification-notice-description">@Options.Description</div>
            @if (Options.CloseButton != null)
            {
                <span class="ant-notification-notice-btn">
                    @Options.CloseButton
                </span>
            }
        </div>
    </div>

    <a class="ant-notification-notice-close">
        <span class="ant-notification-close-x">
            <Icon Type="IconType.Outlined.Close" @onclick="() => notificationService.Unsubscribe(this)"></Icon>
        </span>
    </a>
</div>