<Codebox Title="Icon" id="components-alert-demo-icon">
    <Description>
        <p>
            A relevant icon will make information clearer and more friendly.
        </p>
    </Description>
    <Demo>
        <Alert Type="@AlertType.Success" ShowIcon>
            <Message>Success Tips</Message>
        </Alert>
        <Alert Type="@AlertType.Info" ShowIcon>
            <Message>Informational Notes</Message>
        </Alert>
        <Alert Type="@AlertType.Warning" ShowIcon>
            <Message>Warning</Message>
        </Alert>
        <Alert Type="@AlertType.Error" ShowIcon>
            <Message>Error</Message>
        </Alert>

        <Divider>With Descriptions</Divider>

        <Alert Type="@AlertType.Success" ShowIcon>
            <Message>Success Tips</Message>
            <Description>Detailed description and advice about successful copywriting.</Description>
        </Alert>
        <Alert Type="@AlertType.Info" ShowIcon>
            <Message>Informational Notes</Message>
            <Description>Additional description and information about copywriting.</Description>
        </Alert>
        <Alert Type="@AlertType.Warning" ShowIcon>
            <Message>Warning</Message>
            <Description>This is a warning notice about copywriting.</Description>
        </Alert>
        <Alert Type="@AlertType.Error" ShowIcon>
            <Message>Error</Message>
            <Description>This is an error message about copywriting.</Description>
        </Alert>
    </Demo>
</Codebox>