<Codebox Title="Label">
    <Description>
        <p>
            The simplest usage for short messages.
        </p>
    </Description>
    <Demo>
        <Button Label="Left" OnClick="@(_ => ToggleMode(TimelineMode.Left))" />
        <Button Label="Alternate" OnClick="@(_ => ToggleMode(TimelineMode.Alternate))" />
        <Button Label="Right" OnClick="@(_ => ToggleMode(TimelineMode.Right))" />
        <br />
        <Timeline Mode=" mode">
            <TimelineItem Label="@DateTime.UtcNow.ToShortDateString()">Create a services</TimelineItem>
            <TimelineItem Label="@DateTime.UtcNow.ToLongTimeString()">Solve initial network problems</TimelineItem>
            <TimelineItem>Technical testing</TimelineItem>
            <TimelineItem Label="@DateTime.UtcNow.ToLongTimeString()">Network problems being solved</TimelineItem>
        </Timeline>
    </Demo>
</Codebox>

@code{
    private TimelineMode mode = TimelineMode.Left;
    private void ToggleMode(TimelineMode newMode)
    {
        mode = newMode;
    }
}