@namespace Append.AntDesign.Components
@inherits AntComponent
@if (string.IsNullOrEmpty(Href))
{
    <button @attributes="@Attributes" disabled="@Disabled" type="@HtmlType"  class="@classes" @onclick="@OnClick">
        @if (Loading)
        {
            <span class="ant-btn-loading-icon">
                <Icon Type="IconType.Outlined.Loading" Spin />
            </span>
        }
        else
        {
            if (ChildContent != null)
            {
                @ChildContent
            }
        }
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <span>@Label</span>
        }
    </button>
}
else
{
    <a @attributes="@Attributes" href="@Href" class="@classes">
        @if (Loading)
        {
            <span class="ant-btn-loading-icon">
                <Icon Type="IconType.Outlined.Loading" />
            </span>
        }
        else
        {
            if (ChildContent != null)
            {
                @ChildContent
            }
        }
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <span>@Label</span>
        }
    </a>
}



