@inject IClipboardService Clipboard
<section class="code-box" id="@($"components-{Example.ComponentName}-demo-{Example.SampleComponent.Name}")" @attributes="@Attributes">
    <section class="code-box-demo @(isExpanded ? "expand" : null)">
        @Demo
    </section>
    <section class="code-box-meta markdown">
        <div class="code-box-title" style="display:flex">
            <a style="margin-right:8px;">@Title</a>
            <Tooltip>
                <Title>Edit this demo on GitHub!</Title>
                <ChildContent>
                    <a href="@Example.EditLink" target="_blank">
                        <Icon Type="IconType.Outlined.Edit" />
                    </a>
                </ChildContent>
            </Tooltip>
        </div>
        <div class="code-box-description">
            @Description
        </div>
        <div class="code-box-actions">
            <span class="code-box-code-action code-box-code-copy">
                <Tooltip>
                    <Title>Show on GitHub</Title>
                    <ChildContent>
                        <Icon Type="IconType.Outlined.Github" Height="1.2em" />
                    </ChildContent>
                </Tooltip>
            </span>
            <span class="code-box-code-action code-box-code-copy" @onclick="CopyCode">
                <Tooltip Visible="@visible" OnVisibilityChanged="HandleVisibilityChanged">
                    <Title>@text</Title>
                    <ChildContent>
                        @if (text.Equals("Copy code"))
                        {
                            <Icon Type="IconType.Outlined.Copy" Height="1.2em" />
                        }
                        else
                        {
                            <Icon Type="IconType.Outlined.Check_Circle" Fill="green" Height="1.2em" />
                        }
                    </ChildContent>
                </Tooltip>
            </span>
            <span class="code-box-code-action code-box-code-copy" @onclick="ToggleExpand">
                @if (isExpanded)
                {
                    <Tooltip>
                        <Title>Hide code</Title>
                        <ChildContent>
                            <Icon Type="IconType.Outlined.Eye_Invisible" Height="1.2em" />
                        </ChildContent>
                    </Tooltip>
                }
                else
                {
                    <Tooltip>
                        <Title>Show code</Title>
                        <ChildContent>
                            <Icon Type="IconType.Outlined.Eye" Height="1.2em" />
                        </ChildContent>
                    </Tooltip>
                }
            </span>
        </div>
    </section>
    <section class="highlight-wrapper @(isExpanded ? "highlight-wrapper-expand" : null)">
        <div class="highlight">
            <pre class="language-cs"><code>@Example.SampleCode</code></pre>
        </div>
    </section>
</section>
@code{
    string text = "Copy code";
    bool visible = false;
    public async Task CopyCode()
    {
        await Clipboard.Copy(Example.SampleCode);
        text = "Copied!";
    }
    public void HandleVisibilityChanged(bool newVisibility)
    {
        visible = newVisibility;
        if (!visible)
            text = "Copy code";
    }
}