<section class="markdown">
    <h1>
        @ComponentName
        <a href="@EditLink" class="edit-button" target="_blank">
            <Icon Type="IconType.Outlined.Edit" Theme="IconTheme.Outlined" />
        </a>
    </h1>
    @LoadMarkdownDocumentation()
    <h2>Examples</h2>
    @foreach (var example in Examples)
    {
        <CascadingValue Value="@ComponentName">
            @BuildExample(example)
        </CascadingValue>
        <br />
    }
</section>

<section class="markdown api-container">
    @LoadMarkdownApiDocumentation()
</section>