<Codebox Title="Disabled" id="components-button-demo-disabled">
    <Description>
        <p>To mark a button as disabled, add the <code>disabled</code> property to the <code>Button</code>.</p>
    </Description>
    <Demo>
        <Button Type="@ButtonType.Primary" Label="Primary" />
        <Button Type="@ButtonType.Primary" Label="Primary (disabled)" Disabled />
        <br />
        <Button Label="Default" />
        <Button Label="Default (disabled)" Disabled />
        <br />
        <Button Type="@ButtonType.Dashed" Label="Dashed" />
        <Button Type="@ButtonType.Dashed" Label="Dashed (disabled)" Disabled />
        <br />
        <Button Type="@ButtonType.Link" Label="Link" />
        <Button Type="@ButtonType.Link" Label="Link (disabled)" Disabled />
        <br />
        <Button Type="@ButtonType.Link" Label="Danger Link" Danger />
        <Button Type="@ButtonType.Link" Label="Danger Link (disabled)" Danger Disabled />
        <br />
        <Button Label="Danger Default" Danger />
        <Button Label="Danger Default (disabled)" Danger Disabled />
        <br />
        <div class="site-button-ghost-wrapper">
            <Button Label="Ghost" Ghost />
            <Button Label="Ghost (disabled)" Ghost Disabled />
        </div>
    </Demo>
</Codebox>

<style>
    .site-button-ghost-wrapper {
        padding: 8px 8px 0 8px;
        background: rgb(190, 200, 200);
    }
</style>